# 递归忽略所有 .cache 目录
**/.cache/

# 递归忽略所有 build 目录
**/build/

# 递归忽略所有 vcpkg安装的依赖库目录
**/vcpkg_installed/

# IDE 和插件对应文件
**/.cursor/
**/.clangd
**/.clang-format
**/.vscode/


# node js 安装的三方库
**/node_modules/
